-#  This file is app/views/movies/index.html.haml
%h1 All Movies

/ = form_tag movies_path, :method => :get do
/   Include: 
/   - @all_ratings.each do |rating|
/     = rating
/     = check_box_tag {:name=> "ratings[#{rating}]" , :checked => "checked" }

/   = submit_tag 'Refresh', :id => "ratings_submit"

%form{"accept-charset" => "UTF-8", :action => "/movies", :method => "get"}
  %div{:style => "margin:0;padding:0;display:inline"}
    %input{:name => "utf8", :type => "hidden", :value => "✓"}/
  Include:
  G
  %input#ratings_G{:checked => "checked" &&  session['ratings']!= nil && session['ratings']["G"] , :name => "ratings[G]", :type => "checkbox", :value => "1"}
    PG
    %input#ratings_PG{:checked => "checked" &&  session['ratings']!= nil &&  session['ratings']["PG"] , :name => "ratings[PG]", :type => "checkbox", :value => "1"}
      PG-13
      %input#ratings_PG-13{:checked => "checked" &&  session['ratings']!= nil &&  session['ratings']["PG-13"] , :name => "ratings[PG-13]", :type => "checkbox", :value => "1"}
        R
        %input#ratings_R{:checked => "checked" &&  session['ratings']!= nil &&  session['ratings']["R"] , :name => "ratings[R]", :type => "checkbox", :value => "1"}
          %input#ratings_submit{:name => "commit", :type => "submit", :value => "Refresh"}

%table#movies
  %thead
    %tr
      %th{:class => @sort=="title"  && "hilite" }= link_to "Movie Title", "/movies?sort=title" , :id => 'title_header'
      %th Rating
      %th{:class => @sort=="release_date" && "hilite"}= link_to "Release Date", "/movies?sort=release_date" , :id => 'release_date_header'
      %th More Info
  %tbody
    - @movies.each do |movie|
      %tr
        %td= movie.title 
        %td= movie.rating
        %td= movie.release_date
        %td= link_to "More about #{movie.title}", movie_path(movie)

= link_to 'Add new movie', new_movie_path